body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #111;
}

nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    background: #111;
    border-radius: 10px;
}

.redacted {
    width: 100%;
    height: 20px;
    background: black;
    margin: 20px 0;
}

.theme-toggle {
    margin: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 30px;
}
